/**
 * colors
 */

$color-blue-dark: #505b65;
$color-black-light: #292d33;
$color-grey: #b2b8c2;
$color-grey-dark: #848c99;
$color-grey-light: #e8ebf0;
$color-grey-lighter: #f1f2f6;
$color-red: #e6454a;
$color-red-dark: #c23a3f;
$color-lazy: #edeef2;
$color-sign-state:#ffde14;
$color-sign-points:#f1f2f6;
$color-wxbg:#2e3132;